{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="overlay"></div>
{% endblock %}

{% block content %}
<p>Choose which field you would like to book</p>
<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <img class="card-img-top img-fluid" src="/media/field1.jpg" alt="View of field">
        <div class="card-body">
          <h5 class="card-title">Large Field</h5>
          <p class="card-text">3 acre field. Securely fenced.</p>
          <a href="{% url 'bookings' %}" class="btn btn-primary">Book Now</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <img class="card-img-top img-fluid" src="/media/field2.jpg" alt="View of field">
        <div class="card-body">
          <h5 class="card-title">Small Field</h5>
          <p class="card-text">1 acre field with obstacles. Securely fenced.</p>
          <a href="{% url 'bookings' %}" class="btn btn-primary">Book Now</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

