{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="overlay"></div>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<h1 class="text-center  mt-3">Make a Booking</h1>
<div class="container">
    <form method="POST" action="" class="me-2 ms-2" required>
        {% csrf_token %}

        <!--input location-->
        <div class="mt-3">
            <h4>Please select whether you would like to book our large 3 acre field or the small 1 acre field with obstacles. Check out our <a href="{% url 'facilities' %}">Facilities</a> page if you are unsure.</h4>
            <h3>Select Field:</h3>
            <select class="form-select fs-3" name="location" required>
                <option value="Large field">Large field £10</option>
                <option value="Small field">Small field £6.50</option>
            </select>
        </div>
        <hr>
        <!--input date-->
        <div class="mt-3">
            <h4>Please select the date you would like to book from the calendar. You can book up to 31 days in advance and we are open everyday apart from Mondays & Tuesdays.</h4>
            <h3>Select Date:</h3>
            <select class="form-select fs-3" name="day" required>
                {% for validateWeekday in validateWeekdays %}
                <option value="{{validateWeekday}}">{{validateWeekday}}</option>
                {% endfor %}
            </select>
        </div>
        <hr>
        <!--input number of dogs-->
        <div class="mt-3">
            <h4>Please select the number of dogs you will be bringing. 
                Up to three dogs are included in the price but you can also add a further two dogs for a small additional charge of £2 per dog.</h4>
            <h3>Number of Dogs:</h3>
            <select class="form-select fs-3" name="dogs" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>

        <div>
            <br>
            <!--Submit booking-->
            <button type="submit" class="btn btn-dark">Select Timeslot</button>
        </div>

    </form>
</div>

{% else %}
<!--If user is not registered-->
<div class="shadow p-4 mb-5 bg-body bg-body rounded text-black  m-5 ">
    <h1 class="p-2  me-3">You Are Not Signed in!</h1>
    <a href="/accounts/login/" class="btn btn-dark">Sign in</a>
</div>

{% endif %}

{% endblock %}
