{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="overlay"></div>
    <div class="header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <form action="https://formdump.codeinstitute.net/" method="POST" target="_blank">
                <h2>Get in Touch</h2>
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" placeholder="Your name.." required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" placeholder="Your email.." required>
                </div>
                <div class="form-group">
                    <label for="phone">Phone No:</label>
                    <input type="tel" id="phone" name="phone" placeholder="Your phone number..">
                </div>
                <div class="form-group">
                    <label for="comments">Comments:</label>
                    <textarea name="comments" id="comments" rows="11" cols="45"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>

        <div class="col-sm-6">
            <h2>How to Find Us</h2>
            <p>We are conveniently located just minutes from the A4232 in Penarth, South Wales</p>
            <p> Freedog<br>
                Doggy Place<br>
                Penarth<br>
                DO8 8EY<br>
                Telephone: 0000 000 000</p>
            <p>You can also contact us by email hello@freedog.com or via our social media links below</p>
            <div class="google-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2486.6666728800765!2d-3.211951067852401!3d51.44591514037702!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2suk!4v1712503463057!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <br>
            <p>Opening times:<br>
               Mon-Fri 9am-5pm<br>
               Sat & Sun 10am-4pm</p>
        </div>
    </div>
</div>
{% endblock %}