{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="overlay"></div>
{% endblock %}

{% block content %}
<h2>Choose your Field</h2>
<div class="container-fluid">
  <div class="row">
    {% for product in products %}
    <div class="col-sm-12 col-lg-6">
      <div class="card">
        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
          <div class="card-body">
            <h3 class="card-title">{{ product.name }}</h3>
            <p class="card-title">{{ product.description }}</p>
            <div class="row">
              <div class="col-6 col-sm-12 col-lg-6">
                <h4 class="card-title">£{{ product.price }}</h4>
              </div>
              <div class="col-6 col-sm-12 col-lg-6 text-right">
                <a href="{% url 'product_detail' product.id %}" class="btn btn-dark">Book Now</a>
              </div>
            </div>
          </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
