{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="overlay"></div>
{% endblock %}

{% block content %}
<h2>Choose your Field</h2>
<div class="container-fluid">
  <div class="row">
    {% for product in products %}
    <div class="col-sm-12 col-lg-6">
      <div class="card">
        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
          <div class="card-body">
            <h3 class="card-title">{{ product.name }}</h3>
            <p class="card-title">{{ product.description }}</p>
            <h4 class="card-title">£{{ product.price }}</h4>
            <form class="form" action="{% url 'booking' %}" method="POST">
              {% csrf_token %}
              <div class="form-row">
                <div class="col-12">
                  <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5" value="Add to Bag">
                </div>
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
              </div>
            </form>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
